In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# 1. 데이터 로드
airbnb_df = pd.read_csv('./data/Airbnb_Open_Data.csv',low_memory=False)

In [7]:
# 2. 데이터 구조 및 기초 통계 확인
airbnb_df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [17]:
airbnb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [20]:
def drop_column(df,column_list):
    for column_name in column_list:
        df = df.drop(column_name,axis=1)
    return df

In [21]:
columns = [
    "host name",
    "country",
    "country code",
    "calculated host listings count",
    "license",
    "house_rules",
    "last review",
    "instant_bookable",
    "long",
    "lat",
    "neighbourhood group",
    "NAME",
    "host id",
    "host_identity_verified"
]

airbnb_df = drop_column(airbnb_df,columns)
airbnb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   102599 non-null  int64
 1   neighbourhood        102583 non-null  object
 2   cancellation_policy  102523 non-null  object
 3   room type            102599 non-null  object
 4   Construction year    102385 non-null  float64
 5   price                102352 non-null  object
 6   service fee          102326 non-null  object
 7   minimum nights       102190 non-null  float64
 8   number of reviews    102416 non-null  float64
 9   reviews per month    86720 non-null   float64
 10  review rate number   102273 non-null  float64
 11  availability 365     102151 non-null  float64
dtypes: float64(6), int64(1), object(5)
memory usage: 9.4+ MB

In [38]:
airbnb_df['neighbourhood'].unique()

array(['Kensington', 'Midtown', 'Harlem', 'Clinton Hill', 'East Harlem',
       'Murray Hill', 'Bedford-Stuyvesant', "Hell's Kitchen",
       'Upper West Side', 'Chinatown', 'South Slope', 'West Village',
       'Williamsburg', 'Fort Greene', 'Chelsea', 'Crown Heights',
       'Park Slope', 'Windsor Terrace', 'Inwood', 'East Village',
       'Greenpoint', 'Bushwick', 'Flatbush', 'Lower East Side',
       'Prospect-Lefferts Gardens', 'Long Island City', 'Kips Bay',
       'SoHo', 'Upper East Side', 'Prospect Heights',
       'Washington Heights', 'Woodside', 'Brooklyn Heights',
       'Carroll Gardens', 'Gowanus', 'Flatlands', 'Cobble Hill',
       'Flushing', 'Boerum Hill', 'Sunnyside', 'DUMBO', 'St. George',
       'Highbridge', 'Financial District', 'Ridgewood',
       'Morningside Heights', 'Jamaica', 'Middle Village', 'NoHo',
       'Ditmars Steinway', 'Flatiron District', 'Roosevelt Island',
       'Greenwich Village', 'Little Italy', 'East Flatbush',
       'Tompkinsville', 'Astoria', 'Clason Point', 'Eastchester',
       'Kingsbridge', 'Two Bridges', 'Queens Village', 'Rockaway Beach',
       'Forest Hills', 'Nolita', 'Woodlawn', 'University Heights',
       'Gravesend', 'Gramercy', 'Allerton', nan, 'East New York',
       'Theater District', 'Concourse Village', 'Sheepshead Bay',
       'Emerson Hill', 'Fort Hamilton', 'Bensonhurst', 'Tribeca',
       'Shore Acres', 'Sunset Park', 'Concourse', 'Elmhurst',
       'Brighton Beach', 'Jackson Heights', 'Cypress Hills', 'St. Albans',
       'Arrochar', 'Rego Park', 'Wakefield', 'Clifton', 'Bay Ridge',
       'Graniteville', 'Spuyten Duyvil', 'Stapleton', 'Briarwood',
       'Ozone Park', 'Columbia St', 'Vinegar Hill', 'Mott Haven',
       'Longwood', 'Canarsie', 'Battery Park City', 'Civic Center',
       'East Elmhurst', 'New Springville', 'Morris Heights', 'Arverne',
       'Cambria Heights', 'Tottenville', 'Mariners Harbor', 'Concord',
       'Borough Park', 'Bayside', 'Downtown Brooklyn', 'Port Morris',
       'Fieldston', 'Kew Gardens', 'Midwood', 'College Point',
       'Mount Eden', 'City Island', 'Glendale', 'Port Richmond',
       'Red Hook', 'Richmond Hill', 'Bellerose', 'Maspeth',
       'Williamsbridge', 'Soundview', 'Woodhaven', 'Woodrow',
       'Co-op City', 'Stuyvesant Town', 'Parkchester', 'North Riverdale',
       'Dyker Heights', 'Bronxdale', 'Sea Gate', 'Riverdale',
       'Kew Gardens Hills', 'Bay Terrace', 'Norwood', 'Claremont Village',
       'Whitestone', 'Fordham', 'Bayswater', 'Navy Yard', 'Brownsville',
       'Eltingville', 'Fresh Meadows', 'Mount Hope', 'Lighthouse Hill',
       'Springfield Gardens', 'Howard Beach', 'Belle Harbor',
       'Jamaica Estates', 'Van Nest', 'Morris Park', 'West Brighton',
       'Far Rockaway', 'South Ozone Park', 'Tremont', 'Corona',
       'Great Kills', 'Manhattan Beach', 'Marble Hill', 'Dongan Hills',
       'Castleton Corners', 'East Morrisania', 'Hunts Point', 'Neponsit',
       'Pelham Bay', 'Randall Manor', 'Throgs Neck', 'Todt Hill',
       'West Farms', 'Silver Lake', 'Morrisania', 'Laurelton',
       'Grymes Hill', 'Holliswood', 'Pelham Gardens', 'Belmont',
       'Rosedale', 'Edgemere', 'New Brighton', 'Midland Beach',
       'Baychester', 'Melrose', 'Bergen Beach', 'Richmondtown',
       'Howland Hook', 'Schuylerville', 'Coney Island', 'New Dorp Beach',
       "Prince's Bay", 'South Beach', 'Bath Beach', 'Jamaica Hills',
       'Oakwood', 'Castle Hill', 'Hollis', 'Douglaston', 'Huguenot',
       'Olinville', 'Edenwald', 'Grant City', 'Westerleigh',
       'Bay Terrace, Staten Island', 'Westchester Square', 'Little Neck',
       'Fort Wadsworth', 'Rosebank', 'Unionport', 'Mill Basin',
       'Arden Heights', "Bull's Head", 'New Dorp', 'Rossville',
       'Breezy Point', 'Willowbrook', 'Glen Oaks', 'Gerritsen Beach',
       'Chelsea, Staten Island'], dtype=object)

In [25]:
airbnb_df['price'] = airbnb_df['price'].replace(r'[\$,]', '', regex=True).astype(float)
airbnb_df['service fee'] = airbnb_df['service fee'].replace(r'[\$,]', '', regex=True).astype(float)

In [29]:
airbnb_df.describe()

,id,Construction year,price,service fee,minimum nights,number of reviews,reviews per month,review rate number,availability 365
count,1.025990e+05,102385.000000,102352.000000,102326.000000,102190.000000,102416.000000,86720.000000,102273.000000,102151.000000
mean,2.914623e+07,2012.487464,625.293536,125.026924,8.135845,27.483743,1.374022,3.279106,141.133254
std,1.625751e+07,5.765556,331.671614,66.325739,30.553781,49.508954,1.746621,1.284657,135.435024
min,1.001254e+06,2003.000000,50.000000,10.000000,-1223.000000,0.000000,0.010000,1.000000,-10.000000
25%,1.508581e+07,2007.000000,340.000000,68.000000,2.000000,1.000000,0.220000,2.000000,3.000000
50%,2.913660e+07,2012.000000,624.000000,125.000000,3.000000,7.000000,0.740000,3.000000,96.000000
75%,4.320120e+07,2017.000000,913.000000,183.000000,5.000000,30.000000,2.000000,4.000000,269.000000
max,5.736742e+07,2022.000000,1200.000000,240.000000,5645.000000,1024.000000,90.000000,5.000000,3677.000000

In [28]:
def fillna(df,columns,default=0):
    for column in columns:
        df[column] = df[column].fillna(default)
    return df

def dropna(df,column_list):
    df = df.dropna(subset=column_list,axis=0)
    return df

def cleanedData(df,columns,value,type='over'):
    for column in columns:
        if type == 'over':
            df = df[df[column] < value ]
        elif type == 'under':
            df = df[df[column] > value ]
    return df

In [10]:
airbnb_df = fillna(airbnb_df,['price'],airbnb_df['price'].mean())
airbnb_df = cleanedData(airbnb_df,['price'],50,'under')
airbnb_df = cleanedData(airbnb_df,['price'],1000,'over')
airbnb_df = cleanedData(airbnb_df,['availability 365'],value=0,type='under')
airbnb_df = cleanedData(airbnb_df,['availability 365'],value=366,type='over')
airbnb_df = fillna(airbnb_df,['minimum nights'],1)
airbnb_df = dropna(airbnb_df,['availability 365'])
airbnb_df['price'] = airbnb_df['price'].astype(int) * 1400
airbnb_df = fillna(airbnb_df,['service fee'])
airbnb_df['service fee'] = airbnb_df['service fee'].astype(int) *1400